@model The_Occasion.Models.PoemViewModels.AllPoemsViewModel
@{
    ViewData["Title"] = "Picky, Picky";
}


<div class="row poemrow">
    @if (Model.AllPoems.Count() > 0) {
<h2 class="top-buffer">@ViewData["Title"]</h2>
    @foreach (var poem in Model.AllPoems)
    {


        <div class="col-md-6">
            <a asp-controller="Poem" asp-action="Poem" asp-route-id="@poem.PoemId">@Html.DisplayFor(modelItem => poem.Title)</a>
        </div>

        <div class="col-md-6">@Html.DisplayFor(modelItem => poem.Author)</div>

    }
    }
            else {
            <div class="col-md-6">Too Picky</div>
            }
        

    
</div>
