@model The_Occasion.Models.PoemViewModels.AllPoemsViewModel

<div class="row">
<h3>@Model.FormName<span>s</span></h3> 
    </div>

@*<h2 class="top-buffer"></h2>*@

@foreach (var poem in Model.AllPoems)
{

    <div class="row poemRow top-buffer">
        <a asp-controller="Poem" asp-action="Poem" asp-route-id="@poem.PoemId">@Html.DisplayFor(modelItem => poem.Title)</a><div>@Html.DisplayFor(modelItem=>poem.Author)
        </div>
    </div>
}