@model The_Occasion.Models.PoemViewModels.AllPoemsViewModel
<h3>@Model.MoodName Poems</h3> 


   @foreach (var poem in Model.AllPoems)
   {

    <div class="row poemRow top-buffer">
        <a asp-controller="Poem" asp-action="Poem" asp-route-id="@poem.PoemId">@Html.DisplayFor(modelItem => poem.Title)</a><div>
            @Html.DisplayFor(modelItem => poem.Author)
    </div>
</div>
   }
