@model The_Occasion.Models.PoemViewModels.UserSelectionViewModel
@{
    ViewData["Title"] = "All Your Dang Poems";
}

<h2 class="top-buffer">@ViewData["Title"]</h2>

<div class="row poemrow">
    @foreach (var poem in Model.UserPoems)
    {


        <div class="col-md-6">
            <a asp-controller="Poem" asp-action="Poem" asp-route-id="@poem.PoemId">@Html.DisplayFor(modelItem => poem.Title)</a>
        </div>

        <div class="col-md-6">@Html.DisplayFor(modelItem => poem.Author)</div>
    }
</div>
